
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <nav>
      <a mat-button routerLink="/inicio" routerLinkActive="active">
        <img src="../../../../assets/images/ac_logo.jpg" alt="logo acueducto chilamate">
      </a>
      <a mat-button routerLink="info/nosotros" routerLinkActive="active">Nosotros</a>
      <a mat-button routerLink="noticias" routerLinkActive="active">Noticias</a>
      <a mat-button routerLink="info/reglamentos" routerLinkActive="active">Reglamentos</a>
      <a mat-button routerLink="info/servicios" routerLinkActive="active">Servicios</a>
      <a mat-button routerLink="info/transparencia" routerLinkActive="active">Transparencia</a>
      <a mat-button routerLink="info/proveedores" routerLinkActive="active">Proveedores</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

