
<form [formGroup]="form" (ngSubmit)="updateNoticia($event)" class="mat-elevation-z8 noticia-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Editar Noticia</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="titulo" placeholder="Título" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Elija una fecha</mat-label>
            <input readonly formControlName="fecha" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="categoria" placeholder="Categoría" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea formControlName="descripcion" placeholder="Descripción" matInput></textarea>

          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <h3>Imagenes: </h3>
          <button mat-raised-button color="primary" type="button" (click)="openDialog()"> Agregar Imagen</button>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let img of imagenes;index as i" class="col-xs">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>Imagen #{{i+1}}:</mat-card-title>
            </mat-card-header>
            <div class="crop-image">
              <img [src]='img' alt="imagen">
            </div>
            <mat-card-content>
              <a routerLink="{{img}}" target="_blank"> <small>{{img}}</small> </a>

            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="warn" (click)="removeImage(i)" type="button">Eliminar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Editar Noticia</button>
    </mat-card-actions>

  </mat-card>

</form>
