
<mat-tab-group>

  <mat-tab label="Fundadores">
    <ng-template matTabContent>
      <app-nosotros-fundadores></app-nosotros-fundadores>
    </ng-template>


  </mat-tab>

  <mat-tab label="Junta Directiva">
    <ng-template matTabContent>
      <app-nosotros-junta></app-nosotros-junta>
    </ng-template>
  </mat-tab>

  <mat-tab label="Estructura Organizacional">
    <ng-template matTabContent>
      <app-nosotros-estructura></app-nosotros-estructura>
    </ng-template>
  </mat-tab>

  <mat-tab label="Contacto">
    <ng-template matTabContent>
      <app-nosotros-contacto></app-nosotros-contacto>
    </ng-template>
  </mat-tab>

</mat-tab-group>
