
<mat-accordion class="mat-elevation-z8">

  <!--Objetivo-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Objetivo
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>Actualizar la base de datos de servicios que brindan los proveedores,
      para futuras obras en la ASADA CHILAMATE</p>

  </mat-expansion-panel>
  <!--Objetivo-->

  <!--Areas-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Areas
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let ar of areas">
        <mat-list-item>
          <mat-icon class="dropIcon">water_drop</mat-icon>
          <div>{{ar}}</div>
        </mat-list-item>

      </div>

    </mat-list>


  </mat-expansion-panel>
  <!--Areas-->

  <!--Requisitos-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Requisitos
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-list>
      <div *ngFor="let req of requisitos">
        <mat-list-item>
          <mat-icon class="dropIcon">water_drop</mat-icon>
          <div>{{req}}</div>
        </mat-list-item>

      </div>

    </mat-list>

  </mat-expansion-panel>
  <!--Requisitos-->

  <!--Información-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Información
      </mat-panel-title>

    </mat-expansion-panel-header>

    <p>Interesados enviar información completa
      Correo: xxx@asadachilamate.com.
      Asunto: Servicio para base de datos.
      Periodo de recepción:
      Además, Inscribirse como proveedor a la pagina oficial de la ASADA CHILAMATE.
      Pag: https://asadachilamates.com/</p>

  </mat-expansion-panel>
  <!--Información-->

</mat-accordion>

<mat-card>
  <mat-card-title>Registro de Proveedores</mat-card-title>
  <mat-card-content>
    <!--formulario-->
    <form [formGroup]="form" class="mat-elevation-z8 proveedor-form">
      <mat-card>
        <mat-card-header>
          <mat-card-title> Formulario de Registro de Proveedores</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <h3>Datos del repressentante legal</h3>
          <mat-card>
            <mat-card-header>
              <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-header>
              <mat-card-title>Nombre</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="row">
                <div class="col-xs">
                  <mat-form-field>

                    <input placeholder="Nombre" matInput type="text">
                  </mat-form-field>
                  <mat-form-field class="px-4">
                    <input placeholder="Apellido" matInput type="text">
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <div class="row">
            <div class="col-xs">
              <mat-form-field>
                <input placeholder="Cédula" matInput type="text">
              </mat-form-field>
            </div>
            <div class="col-xs">
              <h4>Número de teléfono</h4>
              <mat-form-field>
                <input placeholder="Código de área" matInput type="text">
              </mat-form-field>
              <mat-form-field class="px-4">
                <input placeholder="Número" matInput type="text">
              </mat-form-field>
            </div>
          </div>

          <h3>Datos de la Empresa</h3>
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Nombre" matInput type="text">
            </mat-form-field>
            <mat-form-field class="px-4">
              <input placeholder="Categoría" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-xs">
            <h4>Dirección Jurídica</h4>
            <mat-form-field>
              <input placeholder="Dirección de calle" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Dirección de calle línea 2" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Ciudad" matInput type="text">
            </mat-form-field>
            <mat-form-field class="px-4">
              <input placeholder="Estado/Provincia" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-xs">
            <h4>Número de teléfono</h4>
            <mat-form-field>
              <input placeholder="Código de área" matInput type="text">
            </mat-form-field>
            <mat-form-field class="px-4">
              <input placeholder="Número" matInput type="text">
            </mat-form-field>
          </div>
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Correo electrónico" matInput type="email">
            </mat-form-field>
          </div>
          <h3>El concursante debe adjuntar los siguientes documentos de la empresa en formato JPG o PDF</h3>

          <h4>Cédula del representante</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Cédula Jurídica</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Certificación de la C.C.S.S</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Registro del Min. Hacienda</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Personería al día</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Constancia de conociminetos en fontanería y asociados</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

          <h4>Experiencia en las que se registra</h4>
          <input class="py-3" accept="image/jpeg,image/png,application/pdf" type="file" name="" id="">

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Enviar</button>
        </mat-card-actions>
      </mat-card>
    </form>
  </mat-card-content>
</mat-card>
