
<form class="py-2 text-center" [formGroup]="form" (ngSubmit)="login($event)">
  <mat-card class="">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-icon class="icon_display">account_circle</mat-icon>

    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input placeholder="correo" formControlName="email" matInput type="email">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" [type]="hidePassword?'password':'text'">
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'ocultar contraseña'" [attr.aria-pressed]="'ocultar'" >
            <mat-icon>{{hidePassword?'visibility_off':'visibility'}}</mat-icon>
          </button>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
      <button mat-raised-button>Recuperar Contraseña</button>
    </mat-card-actions>

  </mat-card>
</form>
