
<form [formGroup]="form" (ngSubmit)="saveNoticia($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Noticia</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="titulo" placeholder="Título"matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="fecha" placeholder="Fecha" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input formControlName="categoria" placeholder="Categoría" matInput type="text">
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <textarea formControlName="descripcion" placeholder="Descripción" matInput></textarea>

          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-xs">
          <h3>Imagenes: </h3>
          <button mat-raised-button color="primary" (click)="openDialog()"> Agregar Imagen</button>
        </div>
      </div>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit">Guardar</button>
    </mat-card-actions>

  </mat-card>

</form>
