
<footer class="main-footer">
  <div class="container">


    <div class="row ">

      <!-- Contacto -->
      <div class="col-sm-12 col-md-6 col-lg-8">

        <img src="../../../../assets/images/ac_logo.jpg" class="brand" alt="logo">
        <h4>Contáctenos:</h4>
        <dl>
          <dt>Correo:</dt>
          <dd><a href="mailto: acueductoschilamate@gmail.com" target="blank">acueductoschilamate@gmail.com</a></dd>

          <dt>Teléfono:</dt>
          <dd><a href="tel: 27610121">27610121</a></dd>

          <dt>Ubicación:</dt>
          <dd><a href="https://goo.gl/maps/BztZ5n5eBKPtBbESA" target="_blank"> Chilamate, Heredia, Sarapiquí <i
                class="fas fa-thumbtack sm"></i> </a></dd>
        </dl>

      </div>
      <!-- Contacto -->

      <!-- sociales -->
      <div class="col-sm-12 col-md-6 col-lg-4">
        <img class="quote-image my-1" src="../../../../assets/images/quote.jpg" alt="cita-img">
        <p><q>Tomar agua nos da vida, pero tomar conciencia nos dará agua</q></p>

        <div class="py-4">
          <h4>Síguenos:</h4>

          <ul class="social">
            <li><a href="https://www.facebook.com/Acueducto-Chilamate-109458160702503/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://api.whatsapp.com/send?phone=50686086151" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com" target="_blank"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://www.youtube.com" target="_blank"><i class="fas fa-phone-square-alt"></i></a></li>
          </ul>
        </div>

      </div>
      <!-- sociales -->

    </div>
  </div>
</footer>

<div class="socket py-3 text-center">
  <p>Acueducto Chilamate</p>
  <p class="socket-text">&copy; Todos los derechos reservados | Acueducto Chilamate 2021</p>
</div>
